@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', system-ui;
  color: #243e63;
}

h2 {  
  font-size: 48px;
  line-height: 1.25;
}


/*h4 {
  text-align: center;
}*/

a{
  text-decoration: none;
}

p{
line-height: 1.5;
}

body {
    
}

section {
      
}

main {
  
    
}


ul {
  display: flex;  
  list-style-type: none;
  
}

li {
 margin: 16px;
}

ol {
  list-style-type: none;
  counter-reset: 1 (steps__list);
 padding-top: 2rem;

 
 
}

ol li {
  counter-increment: steps__list;

}

ol li::before {
  content:counter(steps__list, 
 decimal-leading-zero) " ";
  font-weight: bold;
  color: rgba(151, 150, 150, 0.452);
  font-size: 48px;
   text-align: left;
}

ol li::marker {
  display: inline-block;  
  
}

.container {
  padding: 40px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}


.logo {
  max-width: 14%;
}

.purple {
  color: #6415ff;
}

.no-cursor {
  cursor: not-allowed;
}


/*

NAVBAR

*/

nav{
  display: flex;
  padding-top: 32px;
  padding-right: 32px;
  padding-left: 32px;
}

.nav__row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}

.nav__logo {
  display: flex;
  align-items: center;
  margin: 16px 0;
  padding-bottom: 4px;
  padding-left: 0;
 
  }

.nav__links {
  display: flex;
  align-items: right;
  justify-content: space-between;
  padding-left: -80vw;
  padding-top: 24px;
  font-size: 1rem;
}

.nav__link {
  padding: 1.5vw;
}

.nav__link--primary {
  background-color: #6415ff;
  color: white;
  padding: 1.6vh 3.2vw;
  border-radius: 50vh;
}

.nav__link--primary:hover {
  background-color: #6315ff5d;  
}

.nav__link--secondary {
  margin-left: 32px;
}

/*

HEADER / ABOUT

*/

header {
  padding: 24px;
  display: flex;
  flex-direction: row; 
  align-items: center;
  
}

/*.about__title {
  font-size: 48px;
  line-height: 1.25;
  }  */

.about__para {
  font-size: 16px;
 
  margin: 32px 0;
}

.about__container{
 flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 64px;
}

input {
border: none;
}

input:focus {
  outline: none;
}

.about__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about__form {
  max-width: 80%;
}

.about__form--email {
  display: flex;
  align-items: center;
  border: 1px solid #e5e7eb;
  border-radius: 50px;
  padding: 4px 4px 4px 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  
}

.about__form--email input[type="email"] {
  flex: 1;
  opacity: 75%;
  
}

.about__btn--email, 
.quality__btn  {
  background-color: #6415ff;
  color: white;
  padding: 16px 24px;
  border-radius: 50px;
  cursor: pointer;
  
}

.about__btn--email:active, .quality__btn:active {
  background-color: #6315ff5d;  
  transform: translateY(1px);
}

.about_para--cust {
  color: gray;
  text-align: left;
  font-size: 9px;
  margin-top: 24px;
  margin-bottom: 8px;
  padding-top: 32px;
}

.about__card1 {
  width: 40%;
  max-width: none;
  text-align: left;
}
.about__img {
  max-width: 300px;
  position: relative;
  opacity: 75%;  
}

.about__fig {
  max-width: 550px;
}

.about__card2 {
  width: 60%;
}

/* 

SERVICES

*/
#service {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  
}

.services__wrapper {
  display: flex;
  flex-wrap: wrap;
  padding-top: 36px;  
   justify-content: center;
  align-items: center;
  max-width: 960px;
  
}

.services__title, 
.service__title, 
.quality__title, 
.steps__title {
  font-weight: 900;  
  
}

.services__para, .quality__para {
  color: rgb(172, 172, 172);
  font-size: 18px;
  max-width: 600px;
  margin: 0 auto;
}

.service__img {
  border-radius: 50%;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.329) ; 
  justify-content: left;
  margin-top: 4px;
  padding: 16px;
  max-height: 48px;
  max-width: 56px;

}

.service {
  display: flex;
  width: calc(100% / 3);
  padding-bottom: 24px;
  padding-top: 16px;
  
   
}

.service__para, 
.service__title {
  text-align: left;
  padding: 8px;
 
}

.service__para {
  font-size: 14px;
}



.service__description {
  display: flex;
  flex-direction: column;
  max-width: 60%;

}

/*

QUALITY

*/

.quality__row,
.steps__row {
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  padding-left: 24px;
}

.card, 
.quality__card {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
}


.quality__title, 
.quality__header, 
.quality__para,
.steps__header {
  text-align: left;
}

.quality__para {  
  padding-top: 16px;
}

.card__img,
.quality__img {
 max-width: 100%;
}

.quality__btn {
  max-width: 28%;
  margin-top: 36px;
  font-weight: bold;
  font-size: 16px;


}

/*

STEPS

*/

.steps__card {

}
.steps__list {
  display: flex;
  flex-direction: column;
   text-align: left;
}

.steps__header {
  margin-left: 4px;
}

.steps__item {
  display: flex;
  flex-direction: column; 
}

.steps__title {
    
}

.steps__description {
text-decoration-color: rgba(165, 165, 165, 0.466);
 
}