@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', system-ui;
  color: #243e63;
}

h2 {  
  font-size: 48px;
  line-height: 1.25;
}


/*h4 {
  text-align: center;
}*/

a{
  text-decoration: none;
}

p{

}

body {
    
}

section {
      
}

main {
  
    
}


ul {
  display: flex;
  
}

li {
  list-style-type: none;
}

.container {
  padding: 40px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}


.logo {
  max-width: 14%;
}

.purple {
  color: #6415ff;
}

.no-cursor {
  cursor: not-allowed;
}


/*

NAVBAR

*/

nav{
  display: flex;
  padding-top: 32px;
  padding-right: 32px;
  padding-left: 32px;
}

.nav__row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}

.nav__logo {
  display: flex;
  align-items: center;
  margin: 16px 0;
  padding-bottom: 4px;
  padding-left: 0;
 
  }

.nav__links {
  display: flex;
  align-items: right;
  justify-content: space-between;
  padding-left: 80px;
  padding-top: 16px;
}

.nav__link {
  padding: 24px;
}

.nav__link--primary {
  background-color: #6415ff;
  color: white;
  padding: 8px 24px;
  border-radius: 50px;
}

.nav__link--primary:hover {
  background-color: #6315ff5d;  
}

.nav__link--secondary {
  margin-left: 32px;
}

/*

HEADER / ABOUT

*/

header {
  padding: 24px;
  display: flex;
  flex-direction: row; 
  align-items: center;
  
}

/*.about__title {
  font-size: 48px;
  line-height: 1.25;
  }  */

.about__para {
  font-size: 16px;
  line-height: 1.5;
  margin: 32px 0;
}

.about__container{
 flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 64px;
}

input {
border: none;
}

input:focus {
  outline: none;
}

.about__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about__form {
  max-width: 80%;
}

.about__form--email {
  display: flex;
  align-items: center;
  border: 1px solid #e5e7eb;
  border-radius: 50px;
  padding: 4px 4px 4px 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  
}

.about__form--email input[type="email"] {
  flex: 1;
  opacity: 75%;
  
}

.about__btn--email {
  background-color: #6415ff;
  color: white;
  padding: 16px 24px;
  border-radius: 50px;
  cursor: pointer;
  
}

.about__btn--email:active {
  background-color: #6315ff5d;  
  transform: translateY(1px);
}

.about_para--cust {
  color: gray;
  text-align: left;
  font-size: 9px;
  margin-top: 24px;
  margin-bottom: 8px;
  padding-top: 32px;
}

.about__card1 {
  width: 40%;
  max-width: none;
  text-align: left;
}
.about__img {
  max-width: 300px;
  position: relative;
  opacity: 75%;  
}

.about__fig {
  max-width: 550px;
}

.about__card2 {
  width: 60%;
}

/* 

FEATURES

*/
#features {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  
}


.features__title {
  font-weight: 900;  
  padding: 24px;
}

.features__para {
  color: rgb(172, 172, 172);
  font-size: 18px;
  max-width: 600px;
  margin: 0 auto;
}
